
<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> Reset Password</title> 

    <link rel="stylesheet" href="/css/navigation.css">
    <link rel="stylesheet" href="/css/signup.css">
</head>
<body>
    <!-- <%- include('../layout/navigation') %> -->
   
    <div>
      <header class="navigation">
          <nav class="navbar">  
              <ul>
                  <li><a href="/">Home</a></li>
                  <li><a href="/signup">SignUp</a></li> 
                  <li><a href="/admin-login">Admin login</a></li>
              </ul>
          </nav>
      </header>
  </div>

  <div class="wrapper">
    <h2>New Password</h2>
    
      <div class="errmsg" id="errorBackend">
        <% if (errorMessage) {%>
        <%= errorMessage %>
        <% } %>
      </div>
     
      <p id="frontEndError" class="errmsg"></p>
    <form   
    
       action="/reset-password?token=<%= token %>"
       method="post" 
       onsubmit="return validateForm(event)"
       novalidate>


       <input type="hidden" name="userId" value="<%= userId %>">
       <input type="hidden" name="token" value="<%= token %>">


       <div class="input-box">
        <input type="password" placeholder="Create password" name="password" id="password" value="<%= oldPassword %>">
      </div>
      <div class="input-box">
        <input type="password" placeholder="Confirm password" name="confirmPassword" id="confirmPassword" value="<%=  oldConfirmPassword %>" >   
      </div>
      <div class="input-box button">
        <input type="Submit">
      </div>
    </form>
  </div>
</body>
</html>

<script>
  function validateForm(event) {
    event.preventDefault(); 
    let password=document.getElementById('password').value
    let confirmPassword=document.getElementById('confirmPassword').value.trim()
    let errMsg = document.getElementById("frontEndError");
    errMsg.textContent = "";
    let isValid = true;
   
    if(password===''){
        errMsg.textContent = "Password can't empty";
          isValid = false;
      }
      else if(password.trim().length < 5){
        errMsg.textContent = "Password length greather than 5!!";
          isValid = false;
      }
      else if(confirmPassword !== password){
        errMsg.textContent = "Password Not Match!!!";
          isValid = false;
      }
      

      if (isValid) {
      document.querySelector("form").submit();
       }else{
        document.getElementById("errorBackend").innerHTML = "";
        return isValid;
       }
    }
</script>